.manipulate-user {
    .manipulate-user-form {
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .data {
        width: 350px;
    }
    
    .settings {
        width: 100%;
        margin-top: 20px;
        display: flex;
        gap: 10px;
    }
}