.card-product {
  padding: 5px;
  box-shadow: none;
  .mainStack {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .rowStack {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }
  .product-checkbox {
    align-self: flex-start;
  }
  .product-media {
    width: 150px;
    height: 150px;
  }
  .productName {
    font-size: 0.875rem;
    align-self: flex-start;
  }
  .colorDescription {
    color: var(--text-secondary);
    font-size: 0.65rem;
  }
  .quantityBox {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
  }
  .quantityButton {
    min-width: 0;
    padding: 3px 5px;
  }
  .buttons {
    padding: 0;
    margin: 0;
  }
  .stockText {
    color: var(--text-primary);
    font-size: 0.65rem;
    margin-top: 2px;
  }
  .actionIcons {
    display: flex;
    justify-content: flex-end;
    color: gray;
  }
  .product-price {
    color: #1976d2 !important;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    min-width: 100px;
    text-align: right;
  }
}


