.checkout-wrapper {
  margin-top: 48px;
  margin-bottom: 48px;

  .MuiCard-root {
    background-color: var(--bg-color-block);
    color: var(--text-color);
  }

  .MuiTypography-root {
    color: var(--text-color);
  }

  .MuiCheckbox-root {
    color: var(--text-color);
  }

  .sticky-grid {
    @media (min-width: 960px) {
      position: sticky;
      top: 20px;
      height: fit-content;
    }
  }

  .order-title {
    font-size: 20px;
    font-weight: bold;
  }

  .products-card-wrapper {
    background-color: transparent;
    box-shadow: none;
    padding: 16px 0 0 16px;

      .total-price {
        text-transform: uppercase;
      }
  }

  .products-list-title {
    font-weight: bold;
  }

  .card-wrapper {
    padding: 0 16px;
    margin-bottom: 16px;
  }

  .order-card-grid {
    display: flex;
    flex-direction: column;

    .checkout-btn {
      width: 50%;
      padding: 10px;
    }
  }
}
