.table {
    

    .MuiDataGrid-cell {
        display: flex;
        align-items: center;
    }

    .MuiDataGrid-container--top {
        background-color: var(--bg-color-block);
    }   

    .MuiDataGrid-row {
        background-color: var(--bg-color-block);
        color: var(--text-color);
    }
    
    .MuiDataGrid-menuIcon, .MuiSvgIcon-root {
        color: black !important;
    }
    
    .MuiToolbar-root {
        background-color: var(--bg-color-block);
        color: var(--text-color);

        .MuiSvgIcon-root {
            color: var(--text-color) !important;
        }
    }
    
    .image {
        width: 45px;
        height: 45px;
        border-radius: 5px;
    }

    .in-stock {
        color: green;
    }
    
    .not-in-stock {
        color: red;
    }

    .totals {
        color: var(--default-color);
        text-transform: uppercase;
        font-size: 25px;
        margin-bottom: 10px;
    }
}