.table {
    .image {
        width: 45px;
        height: 45px;
        border-radius: 5px;
    }

    .in-stock {
        color: green;
    }
    
    .not-in-stock {
        color: red;
    }

    .totals {
        color: var(--default-color);
        text-transform: uppercase;
        font-size: 25px;
        margin-bottom: 10px;
    }
}