.cart {
  margin-top: 48px;
  margin-bottom: 56px;
  height: 100%;

  .MuiCard-root {
    background-color: var(--bg-color-block);
    color: var(--text-color);
  }

  .MuiTypography-root {
    color: var(--text-color);
  }

  .MuiCheckbox-root {
    color: var(--text-color);
  }

  .cart-page-card {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 32px;
  }

  .cart-page-checkbox {
    align-self: flex-start;
  }

  .cart-page-checkbox-text {
    font-size: 15px;
  }

  .header-stack {
    display: flex;
    align-items: baseline;
    margin-bottom: 16px;
  }

  .fw-bold {
    font-weight: bold;
  }

  .color-secondary {
    color: var(--text-color-secondary);
  }

  .delete-btn {
    font-size: 0.7rem;
    margin-left: 5px;
    color: #9e9e9e;

    &:hover {
      color: #1976d2;
      background-color: transparent;
    }
  }

  .order-card-grid {
    margin-top: 56px;
    align-self: flex-start;
    @media (min-width: 960px) {
      position: sticky;
      top: 20px;
      height: fit-content;
    }
  }

  .basket-stack {
    margin-top: 24px;
  }
}
