.cart {
  .MuiCard-root {
    background-color: var(--bg-color-block);
    color: var(--text-color);
  }

  .MuiTypography-root {
    color: var(--text-color);
  }

  .MuiCheckbox-root {
    color: var(--text-color);
  }
}
