.statistic-page-view {
    display: grid;
    gap: 20px;
    .statistic-page-title {
        display: grid;
        grid-template-columns: calc(100% - 260px) 250px;
        align-items: flex-end;
        column-gap: 10px;
        .date-settings {
            font-size: 16px;
            display: flex;
            align-items: flex-end;
            column-gap: 5px;
            .page-title {
                display: flex;
                align-items: flex-end;
                font-size: 24px;
            }
            .MuiInputBase-input {
                padding: 2px 0px 2px 0px;
            }
        }
        .user-selection {
            font-size: 16px;
            display: flex;
            align-items: flex-end;
            .MuiInputBase-input {
                padding: 2px 0px 2px 0px;
                width: 200px;
            }
        }
    }
    .statistic-page-types {
        display: flex;
        column-gap: 10px;
        font-size: 18px;
        .statistic-type {
            cursor: pointer;
            border-bottom: 2px solid transparent;
        }
        .selected-statistic-type {
            cursor: pointer;
            border-bottom: 2px solid var(--default-color);
        }
    }
    .statistic-page-current-data {
        border-radius: 5px;
    }
}