.manipulate-user {

    .data {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .MuiInputBase-input {
            width: 200px;
            height: 30px;
        }
    }
    
    .settings {
        margin-top: 20px;
        display: flex;
        gap: 10px;
    }
}