.permissions-list-main {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 5px;
    height: calc(100% - 20px);
    overflow-y: scroll;

    .permission {
        background-color: var(--bg-color-block);
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid rgba(128, 128, 128, 0.247);
    }
}