.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;

    .profile-content {
        display: flex;
        padding: 20px;
        box-sizing: border-box;
        background-color: var(--bg-color-block);
        border-radius: 5px;
        border: 1px solid rgba(128, 128, 128, 0.247);
        width: 800px;
        height: 500px;
        gap: 30px;

        .profile-content-main {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
        }

        .profile-content-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;

            .item {
                padding: 10px;
                background-color: var(--bg-color);
                border: 1px solid rgba(128, 128, 128, 0.247);
                border-radius: 5px;
                min-height: 100px;
                box-sizing: border-box;
            }
        }

        .form-group {
            position: absolute;
            margin-top: 160px;
            margin-left: 160px;
        }

        .MuiButton-root  {
            width: 200px;
            height: 36.5px;
        }

        .user-avatar {
            display: flex;
            flex-direction: column;
            align-items: center;

            .user-login {
                width: max-content;
                font-weight: 600;
            }

            > img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                margin-bottom: 20px;
            }

            .user-status {
                text-align: center;
                
                .confirmation {
                    font-weight: 600;
                    color: orange;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .send-link-text {
                    color: var(--default-color);
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .user-settings {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        
    }
}

@media screen and (max-width: 820px) {
    .profile {
        .profile-content {
            width: 600px;

            .user-settings {
                flex-wrap: wrap;
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .profile {
        .profile-content {
            flex-direction: column;
            width: 400px;
            height: max-content;

            .profile-content-main {
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .profile {
        .profile-content {
            width: 300px;
        }
    }
}