.file-attachment {
    .attachment-wrapper {
        .attachment-image {
            width: 40px;
            height: 40px;
            border-radius: 5px;
        }
        .attachment-video {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            object-fit: fill;
        }
    }
}
.attachment-video-tooltip {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    object-fit: fill;
}