.invoice-products-table {
    display: flex;
    flex-direction: column;
    grid-area: 20px;
    box-sizing: border-box;
    padding-top: 40px;

    .invoice-products-settings {
        display: flex;
        box-sizing: border-box;
        padding-bottom: 10px;
        gap: 10px;
    }
    
    .MuiDataGrid-cell {
        display: flex;
        align-items: center;
    }

    .MuiDataGrid-container--top {
        background-color: var(--bg-color-block);
    }   

    .MuiDataGrid-row {
        background-color: var(--bg-color-block);
        color: var(--text-color);
    }

    .MuiDataGrid-menuIcon, .MuiSvgIcon-root {
        color: black !important;
    }

    .MuiToolbar-root {
        background-color: var(--bg-color-block);
        color: var(--text-color);

        .MuiSvgIcon-root {
            color: var(--text-color) !important;
        }
    }
}