.order-card {
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin: 0 auto;
  box-shadow: none;
}

.empty-prompt-card-content {
  .empty-prompt-text {
    font-size: 16px;
    color: var(--text-secondary-color);
  }
}

.order-prompt-card-content {
  .order-text {
    font-size: 14px;
    color: var(--text-secondary-color);
  }

  .total {
    display: flex;
    justify-content: space-between;
    color: var(--text-secondary-color);
    font-size: 0.90rem;
    margin-top: 8px;
  }

  .products {
    color: var(--text-secondary-color);
    font-size: 0.90rem;
    display: flex;
    justify-content: space-between;
  }

  .price {
    color: #1976d2 !important;
    font-weight: bold;
    text-transform: uppercase;
  }
}

