.store-creator {
    width: 50%; 
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .MuiInputBase-root {
        height: 50px;
    }
}