.discount-page-form {
    display: grid;
    row-gap: 10px;
    margin: 10px 0 0 0;
    .discount-field-label {
        font-weight: 500;
    }
    .horizontal-form-control {
        display: flex;
        column-gap: 5px;
        align-items: center;
    }
    .form-actions {
        margin-top: 10px;
        display: flex;
        column-gap: 5px;
    }
}