.preview-card {
  width: 100%;
  color: var(--text-color);
  border: 1px solid rgba(128, 128, 128, 0.247);
  .preview-card-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
    border-bottom: 1px solid rgba(128, 128, 128, 0.247);
    .order-number {
      font-size: 25px;
      font-weight: bold;
    }
    .order-price {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  .delivery-details-wrapper {
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    .delivery-status {
      display: flex;
      gap: 7px;
      margin-bottom: 7px;
    }
  }
  .product-images-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    .product-image {
      border-radius: 3px;
      height: 100px;
      width: 100px;
      cursor: pointer;
    }
  }
}
