.checkout-wrapper {
  margin-top: 48px;
  margin-bottom: 48px;

  .fw-bold {
    font-weight: bold;
  }

  .fs-16 {
    foonst-size: 16px;
  }

  .mb-2 {
    margin-bottom: 16px;
  }

  .card-wrapper {
    padding: 0 16px;
    margin-bottom: 24px;
    borderRadius: 2;
  }
}
