.call-back-more-info {
    margin: 15px 0px 15px 0px;
    display: grid;
    row-gap: 10px;
    text-align: justify;
    .description {
        max-width: 600px;
    }
    .attachments {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .answer-border {
        margin-top: 15px;
    }
    .moderator-answer {
        max-width: 600px;
    }
    .status {
        font-weight: 600;
        .solved {
            color: green;
        }
        .waiting {
            color: orange;
        }
    }
    .bid-history {
        .bid-history-content-next, .bid-history-content-prev {
            display: flex;
            column-gap: 5px;
            .history-bid-wrapper {
                color: var(--default-color);
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}