.permisisons-groups-list-main {
    overflow-y: scroll;
    background-color: var(--bg-color);
    border-radius: 5px;
    padding: 10px;
    overflow-x: hidden;
    height: calc(100% - 20px);

    & .permission-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: var(--bg-color-block);
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid rgba(128, 128, 128, 0.247);

        & .permission-group-name {
            display: flex;
            align-items: center;
            font-weight: 700;
            color: #1976d2;
            position: relative;

            & .delete-button {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 0px;
                color: var(--text-color);
                cursor: pointer;
                font-weight: normal;
                font-size: 20px;
                transform: scaleY(0.8);
                width: 30px;
                height: 30px;

                &:hover {
                    color: red;
                }
            }
        }

        & .permission-group-permissions {
            display: flex;
            flex-direction: column;
            gap: 10px;

            & .permission {
                display: flex;
                align-items: center;
                gap: 10px;
                background-color: var(--bg-color-block);
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                border: 1px solid rgba(128, 128, 128, 0.247);
                position: relative;

                & .delete-button {
                    position: absolute;
                    right: 10px;
                    display: flex;
                    font-size: 20px;
                    transform: scaleY(0.8);
                    cursor: pointer;

                    &:hover {
                        color: red;
                    }
                }
            }
        }   
        
    }
}