.auth__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;

    & .MuiFormControl-root {
        display: grid;
        row-gap: 10px;
    }
    
    & .header {
        margin-bottom: 20px;
    }

    & label {
        text-align: center;
        color: var(--text-color);
    }
}