* {padding: 0; margin: 0;}

#root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    width: 100vw;
    
    .MuiFormLabel-root {
        color: var(--text-color);
    }

    .icon {
        font-size: 25px;
    }

    .delete-text {
        margin: 10px 0 10px 0;
    }
    
    .home-page-main {
        display: flex;
        flex-direction: column;

        .content {
            display: flex;
            flex-direction: column;
        }
    }

    .change-theme {
        display: flex;
        align-items: center;
        
        > p {
            font-weight: 600;
        }
    }
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--text-color);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;  
    border-radius: 5px; 
}

::-webkit-scrollbar-track {
    background: transparent;  
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #1976d2; 
    border-radius: 20px; 
}