.permitions {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & .permitions__header {
        display: flex;
        align-items: center;
        min-height: 50px;
        background-color: var(--bg-color-block);
        border-radius: 5px;
        padding: 10px;
        box-sizing: border-box;
    }

    & .permitions__content {
        display: flex;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 5px;
        gap: 5px;
        background-color: var(--bg-color-block);
        
    }
}