.order-card {
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin: 0 auto;
  box-shadow: none;
}
.empty-prompt-card-content {
  .empty-prompt-text {
    font-size: 16px;
  }
}
.order-prompt-card-content {
  .order-text {
    font-size: 14px;
  }
  .total {
    display: flex;
    justify-content: space-between;
    font-size: 0.90rem;
    margin-top: 8px;
  }
  .products {
    font-size: 0.90rem;
    display: flex;
    justify-content: space-between;
  }
  .price {
    color: #1976d2;
    font-weight: bold;
    text-transform: uppercase;
  }
}
