.roles {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .roles-content {
        display: flex;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 5px;
        gap: 5px;
        background-color: var(--bg-color-block);
        border: 1px solid rgba(128, 128, 128, 0.247);

        .delete-button {
            font-size: 12px;
            cursor: pointer;
            
            &:hover {
                color: red;
            }
        }
    }

    .roles-add-role {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    }
}