.invoice-products-table {
    display: flex;
    flex-direction: column;
    grid-area: 20px;
    box-sizing: border-box;
    padding-top: 40px;

    .invoice-products-settings {
        display: flex;
        box-sizing: border-box;
        padding-bottom: 10px;
        gap: 10px;
    }

    .MuiDataGrid-cell {
        display: flex;
        align-items: center;
    }
}

