.products-store {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .icon {
        cursor: pointer;
    } 

    .MuiInputBase-root {
        height: 36.5px;
    }

    .MuiButtonBase-root {
        height: 36.5px;
    }

    .products-store-header {
        display: flex;
        gap: 20px;  
        flex-wrap: wrap;

        .filters {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            
            .check-stock {
                display: flex;
                align-items: center;
            }
        }
    }

    .store-info {
        font-size: 25px;
    }
}