.custom-select-menu {
  .MuiMenu-paper-root {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  .MuiMenuItem-root {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-bottom: 3px;
    &:hover {
      background-color: var(--hover-color);
      color: black;
    }

    &.Mui-selected {
      background-color: var(--bg-color-block);
      color: var(--text-color);
      &:hover {
        background-color: var(--hover-color);
        color: black;
      }
    }
  }
}
.courier-form-wrapper {
  padding: 5px;
  .address-suggestion-wrapper {
    .da-data-field {
      width: 100%;
      height: 50px;
      padding-left: 3px;
      font-size: 18px;
      background-color: var(--bg-color-block);
      color: var(--text-color);
    }
    .error {
      border: 1px solid #f44336 !important;
    }
    .error:focus {
      outline: 1px solid #b71c1c;
    }
  }
  .error-text {
    margin: 0;
  }

  .da-data-suggestion {
    padding: 5px;
    width: 100%;
    color: var(--text-color);
    background-color: var(--bg-color);
    border: none;
    display: flex;
    flex-direction: column;
  }

  .c:hover {
    background-color: var(--hover-color);
  }

  .da-data-suggestions {
    background-color: var(--bg-color);
  }
  .form-control {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 16px;
  }
  .stack-wrapper {
    margin-top: 48px;
  }
  .dialog-content {
    margin-top: 15px;
    padding-left: 3px;
  }
  .buttons-wrapper {
    text-align: end;
    margin-top: 24px;
  }
}
.address-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .delete-icon {
    &.hidden {
      display: none;
    }
    &.visible {
      display: inline-flex;
    }
    &:hover {
      background: transparent;
      color: #b71c1c;
    }
  }
}
