.category-page {
    height: 100%;
    .MuiInputBase-root {
        height: 36.5px;
    }
    .category-page-title {
        font-size: 24px;
        border-radius: 5px;
    }
    .category-page-search {
        display: grid;
        grid-template-columns: calc(100% - 250px) 250px;
        margin-top: 10px;
        .MuiFormControl-root {
            width: max-content;
        }
        .categore-page-actions {
            display: flex;
            justify-content: right;
        }
    }
    .category-page-content {
        margin-top: 15px;
        .category-item {
            display: grid;
            grid-template-columns: 50px calc(100% - 165px) 100px;
            column-gap: 5px;
            align-items: center;
            .category-image {
                display: flex;
                align-items: center;
            }
            .category-actions {
                display: flex;
                column-gap: 10px;
                .mui-actions {
                    color: var(--text-color);
                    padding: 5px 0px 5px 0px;
                    &:hover {
                        color: var(--default-color);
                    }
                }
            }
        }
        .not-empty-category {
            border-radius: 5px;
            background-color: var(--bg-color-block);
            .category-title {
                font-weight: 400;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
        }
        .empty-category {
            text-transform: none;
            border-radius: 5px;
            background-color: var(--bg-color);
            .category-title {
                font-weight: 400;
                letter-spacing: normal;
                text-transform: none;
            }
        }
        .MuiTreeItem-content:hover {
            background-color: var(--hover-color);
        }
        .shown-category {
            opacity: 1;
        }
        .hidden-category {
            opacity: .1;
        }
        .current-drag-over-category {
            border: 2px solid var(--default-color);
        }
        .current-default-category {
            border: 2px solid var(--bg-color-block);
        }
    }
    .delete-text {
        margin: 10px 0 10px 0;
    }
}