.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    padding: 20px;
    box-sizing: border-box;

    .MuiSvgIcon-root {
        color: #1976d2;
    }

    .product-page-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 10px;

        .product-page-main-header {
            width: 80%;
            display: flex;
            align-items:last baseline;
            font-size: 30px;
            font-weight: 600;
        }
    }

    .product {
        width: 80%;
        height: 90%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--bg-color-block);
        padding: 20px;
        gap: 20px;
        box-sizing: border-box;
        color: var(--text-color);
        border: 1px solid rgba(128, 128, 128, 0.247);

        .product-main {
            display: flex;
            gap: 20px;
        }

        .comment {
            margin-left: 10px;
            color: var(--text-color);
            cursor: pointer;

            &:hover {
                color: #1976d2;
            }
        }

        .image-list {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: flex-start;
            width: 100%;    
            border-radius: 5px;
            box-sizing: border-box;

            .image-list-img {
                width: 110px;
                height: 110px;
                border-radius: 20px;
            }
        }

        .product-slider {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 50%;
            height: 90%;

            .swiper {
                width: 100%;

                .swiper-slide {
                    width: 100% !important;
                }
            }

            .swiper-video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .swiper-image {
                width: 100%;
                height: 350px;
            }
        }

        .product-info {
            width: 50%;
            height: 60%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 5px;

            .item, .product-info-header {
                max-width: 90%;
                width: max-content;
                border-radius: 5px;
                background-color: var(--bg-color);
                padding: 20px;
            }

            .price {
                text-transform: uppercase;
                color: #1976d2;
                font-weight: 600;
                font-size: 20px;
            }

            .additional-information {
                display: flex;
                align-items: center;
                font-size: 15px;
                gap: 3px;

                .rating {
                    font-size: 18px;
                }
            }

            .product-info-content {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                .favorite-icon {
                    cursor: pointer;
                    transition: 0.35s;
                    color: var(--text-color);

                    &:hover {
                        color: red;
                    }
                }
            }

            .variations {
                display: flex;
                gap: 20px;
                font-weight: 600;

                .variation {
                    color: #1976d2;
                    cursor: pointer;
                }    
            }
        }
    }
}

@media screen and (max-width: 1130px) {
    .product-page {

        .product-page-main {
            
            .product-page-main-header {
                width: 100%;
            }

            .product {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .product-page {
        height: max-content;

        .product {

            .product-main {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .product-slider {
                width: 80%;

                .swiper-image {
                    height: 100%;
                }
            }

            .product-info {
                width: 80%;
            }

            .image-list {
                justify-content: center;
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .product-page {

        .product {

            .product-main {
                width: 100%;
            }

            .product-slider {
                width: 80%;
            }
            
            .product-info {
                width: 80%;
            }
        }
    }
}