.providers-page-view {
    .title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .MuiInputBase-root {
        height: 36.5px;
    }
    .actions {
        display: grid;
        grid-template-columns: calc(100% - 250px) 250px;
        .MuiFormControl-root.MuiTextField-root {
            width: max-content !important;
        }
        .search {
            display: flex;
            column-gap: 5px;
            .provider-active-filter {
                width: 200px;
                height: 36px;
            }
        }
        .buttons {
            display: flex;
            justify-content: right;
        }
    }
    .providers-content {
        margin-top: 10px;
        .MuiTableHead-root {
            background-color: var(--bg-color-block);
        }
        .MuiTableCell-root {
            padding: 10px;
            text-align: center;
            color: var(--text-color);
        }
        .MuiTableBody-root {
            .provider-row {
                background-color: var(--bg-color-block);
                cursor: pointer;
                .provider-visit-website {
                    color: var(--default-color);
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &:hover {
                    background-color: var(--hover-color);
                }
            }
        }
        .provider-status {
            align-items: center;
            justify-content: center;
            justify-items: center;
            .provider-active {
                text-align: center;
                color: green;
                font-weight: 500;
            }
            .provider-inactive {
                text-align: center;
                color: red;
                font-weight: 500;
            }
        }
        .provider-actions {
            .mui-actions {
                padding: 5px;
                color: var(--text-color);
                &:hover {
                    color: gray;
                }
            }
        }
    }
    .delete-text {
        margin-top: 10px;
    }
}